// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Agora from "../../../index.js";

export declare namespace TelephonyClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Operations for telephony and outbound calling
 */
export class TelephonyClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TelephonyClient.Options>;

    constructor(options: TelephonyClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Query historical call records for a specified appid based on the filter criteria.
     *
     * @param {Agora.ListTelephonyRequest} request
     * @param {TelephonyClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.telephony.list({
     *         appid: "appid"
     *     })
     */
    public async list(
        request: Agora.ListTelephonyRequest,
        requestOptions?: TelephonyClient.RequestOptions,
    ): Promise<core.Page<Agora.ListTelephonyResponse.Data.List.Item, Agora.ListTelephonyResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (request: Agora.ListTelephonyRequest): Promise<core.WithRawResponse<Agora.ListTelephonyResponse>> => {
                const {
                    appid,
                    number: number_,
                    from_time: fromTime,
                    to_time: toTime,
                    type: type_,
                    limit,
                    cursor,
                } = request;
                const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
                if (number_ != null) {
                    _queryParams.number = number_;
                }
                if (fromTime != null) {
                    _queryParams.from_time = fromTime.toString();
                }
                if (toTime != null) {
                    _queryParams.to_time = toTime.toString();
                }
                if (type_ != null) {
                    _queryParams.type = type_;
                }
                if (limit != null) {
                    _queryParams.limit = limit.toString();
                }
                if (cursor != null) {
                    _queryParams.cursor = cursor;
                }
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    requestOptions?.headers,
                );
                const _response = await core.fetcher({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.AgoraEnvironment.Default,
                        `v2/projects/${core.url.encodePathParam(appid)}/call`,
                    ),
                    method: "GET",
                    headers: _headers,
                    queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return { data: _response.body as Agora.ListTelephonyResponse, rawResponse: _response.rawResponse };
                }
                if (_response.error.reason === "status-code") {
                    throw new errors.AgoraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/v2/projects/{appid}/call",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Agora.ListTelephonyResponse.Data.List.Item, Agora.ListTelephonyResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.meta?.cursor != null &&
                !(typeof response?.meta?.cursor === "string" && response?.meta?.cursor === ""),
            getItems: (response) => response?.data.list ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.meta?.cursor));
            },
        });
    }

    /**
     * Initiate an outbound call to a specified number and create an agent to join the specified RTC channel.
     *
     * Use this endpoint to initiate an outbound call to the specified number and create an agent that joins the target RTC channel. The agent waits for the callee to answer.
     *
     * @param {Agora.CallTelephonyRequest} request
     * @param {TelephonyClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.telephony.call({
     *         appid: "appid",
     *         name: "customer_service",
     *         sip: {
     *             to_number: "+19876543210",
     *             from_number: "+11234567890",
     *             sip_rtc_uid: "100",
     *             sip_rtc_token: "<agora_sip_rtc_token>"
     *         },
     *         pipeline_id: "fzufjlweixxxxnlp",
     *         properties: {
     *             channel: "<agora_channel>",
     *             token: "<agora_channel_token>",
     *             agent_rtc_uid: "111"
     *         }
     *     })
     *
     * @example
     *     await client.telephony.call({
     *         appid: "appid",
     *         name: "customer_service",
     *         sip: {
     *             to_number: "+19876543210",
     *             from_number: "+11234567890",
     *             sip_rtc_uid: "100",
     *             sip_rtc_token: "<agora_sip_rtc_token>"
     *         },
     *         properties: {
     *             channel: "<agora_channel>",
     *             token: "<agora_channel_token>",
     *             agent_rtc_uid: "111",
     *             remote_rtc_uids: [
     *                 "1002"
     *             ],
     *             idle_timeout: 120,
     *             llm: {
     *                 "url": "https://api.openai.com/v1/chat/completions",
     *                 "api_key": "<your_llm_key>",
     *                 "system_messages": [
     *                     {
     *                         "role": "system",
     *                         "content": "You are a helpful chatbot."
     *                     }
     *                 ],
     *                 "max_history": 32,
     *                 "greeting_message": "Hello, how can I assist you today?",
     *                 "failure_message": "Please hold on a second.",
     *                 "params": {
     *                     "model": "gpt-4o-mini"
     *                 }
     *             },
     *             tts: {
     *                 "vendor": "microsoft",
     *                 "params": {
     *                     "key": "<your_tts_api_key>",
     *                     "region": "eastus",
     *                     "voice_name": "en-US-AndrewMultilingualNeural"
     *                 }
     *             },
     *             asr: {
     *                 "language": "en-US"
     *             }
     *         }
     *     })
     */
    public call(
        request: Agora.CallTelephonyRequest,
        requestOptions?: TelephonyClient.RequestOptions,
    ): core.HttpResponsePromise<Agora.CallTelephonyResponse> {
        return core.HttpResponsePromise.fromPromise(this.__call(request, requestOptions));
    }

    private async __call(
        request: Agora.CallTelephonyRequest,
        requestOptions?: TelephonyClient.RequestOptions,
    ): Promise<core.WithRawResponse<Agora.CallTelephonyResponse>> {
        const { appid, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgoraEnvironment.Default,
                `v2/projects/${core.url.encodePathParam(appid)}/call`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Agora.CallTelephonyResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.AgoraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/projects/{appid}/call");
    }

    /**
     * Retrieve the call status and related information of a specified agent.
     *
     * @param {Agora.GetTelephonyRequest} request
     * @param {TelephonyClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.telephony.get({
     *         appid: "appid",
     *         agent_id: "agent_id"
     *     })
     */
    public get(
        request: Agora.GetTelephonyRequest,
        requestOptions?: TelephonyClient.RequestOptions,
    ): core.HttpResponsePromise<Agora.GetTelephonyResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Agora.GetTelephonyRequest,
        requestOptions?: TelephonyClient.RequestOptions,
    ): Promise<core.WithRawResponse<Agora.GetTelephonyResponse>> {
        const { appid, agent_id: agentId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgoraEnvironment.Default,
                `v2/projects/${core.url.encodePathParam(appid)}/calls/${core.url.encodePathParam(agentId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Agora.GetTelephonyResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.AgoraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v2/projects/{appid}/calls/{agent_id}",
        );
    }

    /**
     * Instruct the agent to proactively hang up the ongoing call and leave the RTC channel.
     *
     * @param {Agora.HangupTelephonyRequest} request
     * @param {TelephonyClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.telephony.hangup({
     *         appid: "appid",
     *         agent_id: "agent_id"
     *     })
     */
    public hangup(
        request: Agora.HangupTelephonyRequest,
        requestOptions?: TelephonyClient.RequestOptions,
    ): core.HttpResponsePromise<Agora.HangupTelephonyResponse> {
        return core.HttpResponsePromise.fromPromise(this.__hangup(request, requestOptions));
    }

    private async __hangup(
        request: Agora.HangupTelephonyRequest,
        requestOptions?: TelephonyClient.RequestOptions,
    ): Promise<core.WithRawResponse<Agora.HangupTelephonyResponse>> {
        const { appid, agent_id: agentId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgoraEnvironment.Default,
                `v2/projects/${core.url.encodePathParam(appid)}/calls/${core.url.encodePathParam(agentId)}/hangup`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Agora.HangupTelephonyResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.AgoraError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v2/projects/{appid}/calls/{agent_id}/hangup",
        );
    }
}
